/* Global Styles */
body {
    margin: 0;
    font-family: 'Rubik Vinyl', serif;
    background-color: #121212; /* Dark background */
    
    line-height: 1.6;
  }
  
  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
  }
  
  /* Container for all sections */
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Section Padding */
  .section {
    padding: 80px 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.5rem;

  }
  
  h3 {
    font-size: 1.2rem;
    
  }
  
  p {
    font-size: 1.2rem;

  }
  
  /* Links */
  a {
    color: cyan;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: gold; /* Gold color on hover */
  }
  
  /* Buttons */
  .button {
    
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: gold;
  }
  
  /* Utility Classes */
  .text-center {
    text-align: center;
  }
  
  .max-w-800 {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .max-w-1200 {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .section {
      padding: 60px 20px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .section {
      padding: 40px 10px;
    }
  }